block adminheader
<link rel="stylesheet" type="text/css" href="../css/adminAreaStyle.css" />
<link rel="stylesheet" type="text/css" href="../css/main.css" />

   <header>

    <div class = "admin_header">
        <div class = "nav-bar">
            <a href = "/">Головна</a>
            <a href = "/admin/placeadd">Додавання місця</a>
            <a href = "/admin/categoryadd">Додавання категорії</a>
            <a href = "/admin/countryadd">Додавання країни</a>
            <a href = "/admin/imgadd">Додавання фото</a>
            <div class = "animation start-admin"></div>

        </div>
    </div>
    </header>

    <div class = "list2">
    <ul>
            <li class="list"><a href = "/admin/listPlace" class = "btn_light">Cписок місць місця</a></li>
            <li class="list"><a href = "/admin/listCategory" class = "btn_light">Cписок категорій</a></li>
            <li class="list"><a href = "/admin/listCountry" class = "btn_light">Cписок країн</a></li>
            <li class="list"><a href = "/admin/listComment" class = "btn_light">Cписок коментаріїв</a></li>
      
