block adminheader
   <header>
    <div class = "right_header">
        <div class = "btns">
            <a href = "/admin/placeadd" class = "btn_light">Додавання місця</a>
            <a href = "/admin/categoryadd" class = "btn_light">Додавання категорії</a>
            <a href = "/admin/countryadd" class = "btn_light">Додавання країни</a>
            <a href = "/admin/imgadd" class = "btn_light">Додавання фото</a>

            <a href = "/" class = "btn_light">Головна</a>
        </div>
    </div>
    </header>
