extends admin.pug
block css
   <link rel="stylesheet" type="text/css" href="../css/main.css" />

block content
   <center>
      <pre>
         <form action="/admin/categorypost" method="POST">
         <label><b>category name</b></label>
         <input type="text" name="name" placeholder="input category name">
         <button type="submit">Save</button>
         </form>
      </pre>
   </center>
