extends layout.pug
block content
   <center>
      <pre>
         <form action="/categorypost" method="POST">
         <label><b>category name</b></label>
         <input type="text" name="name" placeholder="input category name">
         <button type="submit">Save</button>
         </form>
      </pre>
   </center>
