extends layout.pug

block css
   <link rel="stylesheet" type="text/css" href="../css/main.css" />


block content
    mixin placelist(name,image)
        .countrylist
            a(href='place/'+name)
                img(src="../"+image)
                p=name

    .aboutcountry
        center
            h1 #{country.name}
        p #{country.about}

    <center><h1>Визначні місця</h1></center>
    .placeslist
        each img, index in imges
           +placelist(places[index].name,img.image)
    .filterlist
        each flag in flags
            a(href=("/country/"+country.name+"-"+ flag.name))=flag.name
