block css
   <link rel="stylesheet" type="text/css" href="../css/main.css" />

block header

   <header>

    <img src = "http://localhost:4000/images/logo.png" width="200" height="200" margin-left: alt ="">
    <h2>TripLikeDream</h2>
    <div class = "space_betw"></div>

    <div class = "right_header">
      <ul class = "mnu_top">
        <li><a href = "/">Головна</a></li>
        <li><a href = "/eventR/events">Події</a></li>
        <li><a href = "/articleR/articles">Статті</a></li>
        <li><a href = "/feedbackR/feedbacks">Зворотній зв'язок</a></li>
      </ul>
      if(validation)
        <div class = "btns">
          <a href = "/AreaP/personalArea" class = "btn_light">Особистий кабінет</a>
          <a href = "/auth/logout" class = "btn_blue">Вихід</a>
        </div>
      else
        <div class = "btns">
          <a href = "/auth/login" class = "btn_light">Вхід</a>
          <a href = "/auth/registration" class = "btn_blue">Регістрація</a>
        </div>
    </div>
    </header>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

script.
  var a = 2;
  console.log(a);
