block header
<header>

  <div class = "right_header">
    <div class = "needed_space"></div>
    <ul class = "mnu_top">
      <li><a href = "/">Головна</a></li>
      <li><a href = "#">Події</a></li>
      <li><a href = "#">Статті</a></li>
      <li><a href = "#">Зворотній зв'язок</a></li>
    </ul>

  </div>
</header>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
