block header
   <header>
    <a href ="/" class = "logo"><img src = "/img/logo.jpg" alt =""></a>
    <div class = "right_header">
      <ul class = "mnu_top">
        <li><a href = "/">Головна</a></li>
        <li><a href = "#">Події</a></li>
        <li><a href = "#">Статті</a></li>
        <li><a href = "#">Зворотній зв'язок</a></li>
      </ul>
      if(num > 2)
        <div class = "btns">
          <a href = "/auth/login" class = "btn_blue">Вихід</a>     
        </div>
      else 
        <div class = "btns">
          <a href = "/auth/login" class = "btn_light">Вхід</a>
          <a href = "/auth/registration" class = "btn_blue">Регістрація</a>
        </div>
    </div>
    </header>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
