block header
   <header>
    <a href ="/" class = "logo"><img src = "/img/logo.jpg" alt =""></a>
    <div class = "right_header">
      <ul class = "mnu_top">
        <li><a href = "#">Главная</a></li>
        <li><a href = "#">События</a></li>
        <li><a href = "#">Статьи</a></li>
        <li><a href = "#">Контакты</a></li>
      </ul>
      <div class = "btns">
        <a href = "#" class = "btn_light">Войти</a>
        <a href = "#" class = "btn_blue">Зарегистрироваться</a>
      </div>
    </div>
    </header>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">`
