block headerForRegist
   <header>
    <div class = "right_header">       
        <div class = "btns">
            <a href = "/auth/login" class = "btn_light">Вхід</a>
            <a href = "/auth/registration" class = "btn_blue">Реєстрація</a>
        </div>    
    </div>
    </header>