extends layout.pug

block title
    <title>TreepLikeDream</title>


block content
    mixin countrylist(name, image)
        .countrylist
         img(src=image)
         p= name

    <h1>Країни</h1>
    each item in items
        +countrylist(item.name,item.image)
