extends layout.pug

block css
    <link rel="stylesheet" type="text/css" href="css/main.css" />

block content
    mixin countrylist(name, image)
        .countrylist
            a(href='country/'+name)
                img(src=image)
                p=name

    <center><h1>Країни</h1></center>
    each item in items
        +countrylist(item.name,item.image)
