extends layout.pug

block title
    <title>TreepLikeDream</title>


block content
    mixin countrylist(name, image)
        .countrylist
            a(href='country/'+name)
                img(src=image)
                p=name

    <center><h1>Країни</h1></center>
    each item in items
        +countrylist(item.name,item.image)
