
block headerForRegist
include headerForRegist.pug
block css
<link rel="stylesheet" type="text/css" href="../css/authStyle.css" />
<link rel="stylesheet" type="text/css" href="../css/main.css" />
<link rel="stylesheet" type="text/css" href="../css/personalAreaStyle.css" />
<link rel="stylesheet" type="text/css" href="../css/calendar.css" />

<!-- Bootstrap CSS (Cloudflare CDN) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <!-- jQuery (Cloudflare CDN) -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Bootstrap Bundle JS (Cloudflare CDN) -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="1000%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

          <h2>Heading</h2>
          <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
          <p><a class="btn btn-secondary" href="#">View details »</a></p></div>
          <div class="jzdbox1 jzdbasf jzdcal">

          <div class="jzdcalt">June 2017</div>

          <span>Su</span>
          <span>Mo</span>
          <span>Tu</span>
          <span>We</span>
          <span>Th</span>
          <span>Fr</span>
          <span>Sa</span>


          <span class="jzdb"><!--BLANK--></span>
          <span class="jzdb"><!--BLANK--></span>
          <span class="jzdb"><!--BLANK--></span>
          <span class="jzdb"><!--BLANK--></span>
          <span class="jzdb"><!--BLANK--></span>
          <span class="jzdb"><!--BLANK--></span>
          <span>1</span>
          <span class="circle" data-title="My 25th birthday!">2</span>
          <span>3</span>
          <span>4</span>
          <span>5</span>
          <span>6</span>
          <span>7</span>
          <span>8</span>
          <span>9</span>
          <span>10</span>
          <span>11</span>
          <span class="circle" data-title="2 month anniversary!">12</span>
          <span>13</span>
          <span>14</span>
          <span>15</span>
          <span>16</span>
          <span>17</span>
          <span>18</span>
          <span>19</span>
          <span>20</span>
          <span>21</span>
          <span class="circle" data-title="#MusicMonday - share your favorite song!">22</span>
          <span>23</span>
          <span>24</span>
          <span>25</span>
          <span>26</span>
          <span>27</span>
          <span>28</span>
          <span>29</span>
          <span>30</span>
          <span class="jzdb"><!--BLANK--></span>
          <span class="jzdb"><!--BLANK--></span>
          <span class="jzdb"><!--BLANK--></span>
          <span class="jzdb"><!--BLANK--></span>
          <span class="jzdb"><!--BLANK--></span>
          <span class="jzdb"><!--BLANK--></span>
          </div>

          .row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.g-4.py-5
  .col.d-flex.align-items-start
    svg.bi.text-muted.flex-shrink-0.me-3(width='10em' height='1.75em')
      use(xlink:href='#bootstrap')
    div
      h4.fw-bold.mb-0 Featured title
      p Paragraph of text beneath the heading to explain the heading.
  .col.d-flex.align-items-start
    svg.bi.text-muted.flex-shrink-0.me-3(width='10em' height='1.75em')
      use(xlink:href='#cpu-fill')
    div
      h4.fw-bold.mb-0 Featured title
      p Paragraph of text beneath the heading to explain the heading.
  .col.d-flex.align-items-start
    svg.bi.text-muted.flex-shrink-0.me-3(width='10em' height='1.75em')
      use(xlink:href='#calendar3')
    div
      h4.fw-bold.mb-0 Featured title
      p Paragraph of text beneath the heading to explain the heading.
  .col.d-flex.align-items-start
    svg.bi.text-muted.flex-shrink-0.me-3(width='10em' height='1.75em')
      use(xlink:href='#home')
      div
        h4.fw-bold.mb-0 Featured title
        p Paragraph of text beneath the heading to explain the heading.
    .col.d-flex.align-items-start
      svg.bi.text-muted.flex-shrink-0.me-3(width='10em' height='1.75em')
        use(xlink:href='#home')

<div class = "blockWithComm">
        .col-md-6
          .row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.position-relative
            .col.p-4.d-flex.flex-column.position-static
              strong.d-inline-block.mb-2.text-success Design
              h3.mb-0 Post title
              .mb-1.text-muted Nov 11
              p.mb-auto
                | This is a wider card with supporting text below as a natural lead-in to additional content.
              a.stretched-link(href='#') Continue reading
            .col-auto.d-none.d-lg-block
              svg.bd-placeholder-img(width='100' height='270' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Thumbnail' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#7DC6EF' border-color = '#8CC4FA')
                text(x='50%' y='50%' fill='#eceeef' dy='.3em')
</div>
