extends admin.pug
block css
   <link rel="stylesheet" type="text/css" href="../css/main.css" />

block content
   <center>
      <pre>
      <form action="/admin/placepost" method="POST">
         <label><b>Place Name</b></label>
         <input type="text" name="name" placeholder="input place name">
         <select name = "country">
         each item in items
             option(value=item.id) #{item.name}
         </select>
         <select name = "category">
         each category in categories
             option(value=category.id) #{category.name}
         </select>
         <label><b>About</b></label>
         <textarea name="about" cols="40" rows="5"></textarea>
         <button type="submit">Save</button>
         </form>
      </pre>
   </center>
