block headerForRegist
include headerForRegist.pug

block css
<link rel="stylesheet" type="text/css" href="../css/registrStyle.css" />
<link rel="stylesheet" type="text/css" href="../css/main.css" />
<link rel="stylesheet" type="text/css" href="../css/authStyle.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<div class = "center">
  <h2>Реєстрація</h2>
    <form action="/auth/registration" method="POST">
      <div class = "txt_field">
        <input type="text" required>
        <span></span>
        <label>Логін</label>
      </div>
      <div class = "txt_field">
        <input type="password" required>
        <span></span>
        <label>Пароль</label>
      </div>
      <div class="txt_field">
          <input type="password" required name="passwordRepeat">

          <label class = "Sub">Підтвердіть пароль <span class="label--hidden">#{err}</span></label>

      </div>

      <div class = "pass">Забули пароль?</div>
      <input type = "submit" value = "Зареєструватися">
      <div class = "signup_link">
        <p>Вже зареєстровані? <a href = "/auth/login">Увійти</a></p>
      </div>
    </form>
  </div>
