block title
    <title>#title</title>

block content
<div class = 'country'><img class = 'countryImage' src="https://traveller-eu.ru/sites/default/files/styles/index/public/italy-4093227_1280.jpg?itok=aefTHrxE" alt="Italia image"><p class = countryName>Italia</p></div>
